MYSQL_HOST=localhost
MYSQL_USER=admin
MYSQL_PASS=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=sd2-db
MYSQL_ROOT_USER=root
DB_CONTAINER=booknest-db
DB_PORT=3306
MYSQL_PORT=3306
PHPMYADMIN_PORT=8081
